<h1>Book List Page</h1>

<p><strong>Our book informations are :</strong></p>
<ul>
  <li><strong>Title:</strong> {{ book.title }}</li>
  <li><strong>Author:</strong> {{ book.author }}</li>
  <li><strong>Description:</strong> {{ book.description }}</li>
  <li><strong>Created At:</strong> {{ book.createdAt }}</li>
</ul>

<p><strong>Here now we'll have a list of all our books:</strong></p>
    <ul *ngFor="let item of bookList">
        <li><strong>Title : {{item.title}} </strong></li>
        <li><strong>Author : {{item.author}} </strong></li>
        <li><strong>Description : {{item.description}} </strong></li>
        <li><strong>Created At : {{item.createdAt}} </strong></li>
    </ul>

<p><strong>Here now you will find the list of books from our ASP.NET Web API</strong></p>
    <ul *ngFor="let item of bookFromAPI">
        <li><strong>Title : {{item.title}} </strong></li>
        <li><strong>Author : {{item.author}} </strong></li>
        <li><strong>Description : {{item.description}} </strong></li>
        <li><strong>Created At : {{item.createdAt}} </strong></li>
    </ul>